body{
    margin: 0px;
    padding: 0px;
}
div{
    display: block;
}
#topBan{
    width: 100%;
    position: relative;
    text-align: center;
}

#mask_img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/h-pp4.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
}
#mask_img2{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/mask.png");
    background-size: 6px 6px;
    background-position: center;
    background-repeat: repeat;
    opacity: 0.05;
}
#mask_color{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #D93448;
}
#mask_color2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    opacity: 0.3;
}
#top_content{
    width: 940px;
    margin: 0px auto;
    position: relative;
}
#top_nav{
    width: 100%;
    height: 68px;
    position: relative;
    padding-top: 15px;
}
#top_word{
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    margin: 80px auto 40px;
}
#icon{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
    float: left;
    background-image: url("../img/logo-icon.png");
}
#nav_icon{
    display: none;
}
#word{
    width: 101px;
    height: 68px;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-image: url("../img/wnl-words (1).png");
}

#nav{
    float: right;
    height: 68px;
    font-size: 14px;
    padding-top: 26px;
}

.link{
    color: #ffffff;
    float: left;
    text-decoration: none;
    margin-left: 40px;
}
.link_word{

}

.link_active{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 3px;
}

#top_downland{
    margin: 0px auto 40px;
    width: 636px;
    height: 50px;

}
.downland{
    color: #ffffff;
    float: left;
    width: 190px;
    height: 50px;
    border-radius: 4px;
    border: #ffffff solid 1px;
    text-decoration: none;
    background-color: transparent;
    margin-right: 30px;
}

.and_margin_right{
    margin-right: 0px;
}

.icon{
    width: 66px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    float: left;
    border-right: #ffffff solid 1px;
}

.web{
    background-image: url("../img/web-icon.png");
}
.ios{
    background-image: url("../img/apple-icon.png");
}
.android{
    background-image: url("../img/and-icon.png");
}

.word{
    height: 50px;
    line-height: 50px;
    width: 123px;
    float: right;
    color: #ffffff;
    font-size: 20px;
    border: none;
    text-align: center;
}

#top_history{
    padding-bottom: 87px;
    margin: 0 auto;
    position: relative;
    width: 700px;
    height: 50px;

}
.left_icon{
    float: left;
    width: 25px;
    height: 50px;
    background-image: url("../img/home-tt-l.png");
    background-repeat: no-repeat;
    background-size: 25px 50px;
    background-position: center;
}
.right_icon{
    float: left;
    width: 25px;
    height: 50px;
    background-image: url("../img/home-tt-r.png");
    background-repeat: no-repeat;
    background-size: 25px 50px;
    background-position: center;
    margin-right: 20px;
}
.desc{
    width: 170px;
    height: 50px;
    float: left;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.right_icon_end{
    margin-right: 0px;
}

#nav_menu{
    display: none;
}

@media only screen and (max-width: 1023px) {
    #top_nav{
        float: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    #icon{
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
        z-index: 889;
    }

    #word{
        display: none;
    }

    #nav_icon{
        display: block;
        clear: both;
        float: none;
        width: 60px;
        height: 60px;
        margin: 10px auto;
        background-repeat: no-repeat;
        background-size: 60px 60px;
        background-position: center;
        background-image: url("../img/logo-icon.png");
    }


    #nav{
        display: none;
        z-index: 500;
        float: none;
        width: auto;
        height:auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-color: rgba(0,0,0,0.89);
    }
    .link_active{
        display: none;
    }
    .link{
        width: 200px;
        padding-top: 12px;
        padding-bottom: 11px;
        display: block;
        float: none;
        font-size: 20px;
        margin: 0 auto;
        border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
    }
    .active{
        color: #D93448;
    }

    #nav_menu{
        position: absolute;
        top:42px;
        left:15px;
        display: block;
        z-index: 1000;
    }
    .nav_maen_line{
        width: 40px;
        height: 2px;
        margin-bottom: 6px;
        background-color: #ffffff;
        transition: all .3s;
        transform: rotate(0deg);
    }
    .nav_line1{
        transform: translate(0, 8px) rotate(45deg);
        transform-origin: 50% 50%;
        transition: all .3s;
    }
    .nav_line2{
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
        transition: all .3s;
    }
    .nav_line3{
        display: none;
    }
}

